@import "tailwindcss";

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* --- design system --- */
	--color-*: initial;

	/* utilities */
	--color-danger: #7e0000;
	--color-info: rgb(116, 134, 11);
	--color-success: #024418;

	/* branding */
	--color-brand: #108d00;
	--color-accent: #ffffff;

	/* backgrounds */
	--color-surface: #333333;
	--color-panel: #535353;
	--color-border: #5e5e5e28;

	/* texts */
	--color-heading: #1d1d1d;
	--color-body: #1f1f1f;
	--color-muted: #636363;

	/* inputs */
	--color-input-bg: #fff;
	--color-input-border: #cbd5e1;
	--color-focus-ring: #76a003;
}

div {
	background-color: rgba(221, 0, 0, 0.02);
}

body {
	background-color: rgb(186, 183, 183);
	color: rgb(67, 57, 76);
	font-size: 14px;
}

@layer components {
	.input-field {
		@apply block w-full px-3 py-1.5;
		@apply bg-input-bg border border-input-border;

		@apply text-body placeholder-muted;

		@apply transition-all duration-150;

		/* the "pro" focus style */
		@apply focus:outline-none focus:border-brand focus:ring-4 focus:ring-brand/10;

		/* disabled state */
		@apply disabled:bg-panel disabled:cursor-not-allowed disabled:opacity-75;
	}

	.input-label {
		@apply block mb-1.5 text-sm font-medium text-heading;
	}

	/* button base style */
	.btn {
		@apply inline-flex items-center justify-center;
		@apply px-5 py-2.5;
		@apply text-sm font-semibold;
		@apply transition-all duration-150 active:scale-95;

		@apply cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
		@apply focus:outline-none focus:ring-4 focus:ring-brand/10;
	}

	.btn-primary {
		@apply bg-brand text-accent;
		@apply hover:brightness-110 shadow-sm;
		@apply focus:ring-brand/20;
	}

	.btn-secondary {
		@apply border border-border text-body;
		@apply hover:bg-border/50 hover:text-heading;
		@apply focus:ring-border/50;
	}

	.panel-border {
		@apply border-2 border-border;
	}
}
